

html,
body
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.canvas_container
{
    /* position: fixed; */
    /* top: 0;
    left: 0;
    outline: none; */

    position: relative;
    width: 60%;
    border: solid red 5px;
    box-sizing: border-box;
}

.canvas_container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.webgl_canvas{
  position: absolute;
  width: 100%;
  height: 100%;
}

#drawing-canvas {
  position: absolute;
  background-color: #000000;
  top: 0px;
  left: 0px;
  /* z-index: 3000; */
  cursor: crosshair;
  touch-action: none;
}
